.blog__section{
    background-color: #141414;
}

.grid-container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.posts {
    margin: 5px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 365px;
}

#post__img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.post__content{
    padding: 15px;
    background-color: #fff;
}

button{
    background: #f77062;
    color: #fff;
    border: 1px solid;
    padding: .5rem 1.1rem;
    cursor: pointer;
    border-radius: .25rem;
}

button:hover {
    background: #483fff;
    transition: all 0.35s ease;
}

/* Mobile Responsive */
@media screen and (max-width: 900px){

    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .posts {
        height: 100%;
        width: 100%;
        border: 1px solid #141414;
        border-radius: 10px;
        overflow: hidden;
        margin: 5px;
    }
}

@media screen and (max-width: 500px) {
    .grid-container{
        display: grid;
        grid-template-columns: auto;
    }

    .posts {
        height: 100%;
        width: 100%;
        border: 1px solid #141414;
        border-radius: 10px;
    }
}
